{% extends "core/layout.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row justify-content-center mt-1">
                        <div class="col">
                            <h4>KENYA</h4>
                            <hr>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-3">
                        <div class="col-sm-5">
                            <div class="card mt-2 mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">246</h5>
                                    <hr>
                                    <p class="card-text">Total cases</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="card mt-2 mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">182</h5>
                                    <hr>
                                    <p class="card-text">Active cases</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="card mt-2 mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">53</h5>
                                    <hr>
                                    <p class="card-text">Recovered covid-19 cases</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-5">
                            <div class="card mt-2 mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">Mutahi or Mercy?</h5>
                                    <hr>
                                    <a href="{% url 'report' %}" class="btn btn-primary btn-block">Choose</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="card mt-2 mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">11</h5>
                                    <hr>
                                    <p class="card-text">Total deaths</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="card mt-2 mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">1</h5>
                                    <hr>
                                    <p class="card-text">New deaths</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="card mt-2 mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">5 infected</h5>
                                    <hr>
                                    <p class="card-text">In every 1 million</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="card mt-2 mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">Today's winners</h5>
                                    <hr>
                                    <a href="{% url 'winners' %}" class="btn btn-primary btn-block">View</a>
                                </div>
                            </div>
                        </div>

                    </div>


{% endblock %}