<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | coronainkenya</title>
    {% load staticfiles %}

    <link rel="shortcut icon" type='image/x-icon' href="{% static 'core/assets/favicon_io/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/assets/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/assets/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/assets/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'core/assets/favicon_io/site.webmanifest' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/shards.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/all.css' %}" />

    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101247005);</script>
    <script async src="//static.getclicky.com/js"></script>

    <!--[if It IE 9] >
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> 
    <![endif]-->

    {% include 'core/meta_tags.html' %}

</head>

<body class="d-flex flex-column">
    {% include 'core/navbar.html' %}

    <div id="page-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-7 col-sm-12">

                    {% block content %}
                    <!-- body content -->
                    {% endblock %}
                    
                </div>
            </div>
        </div>
    </div>

    
    {% include 'core/footer.html' %}
        
    <!-- Optional JavaScript -->
    <!-- JavaScript Dependencies: jQuery, Popper.js, Bootstrap JS, Shards JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'core/assets/js/shards.min.js' %}"></script>


    {% block scripts %}
       
    {% endblock %}

</body>
</html>
