<meta name="title" content="See corona cases in Kenya">
<meta name="description" content="Get today's number of people in Kenya with corona virus(covid-19)">
<meta name="keywords" content="corona virus kenya, corona virus in kenya news, is corona virus in kenya already, corona virus cases today, cases of corona virus kenya, news on corona virus in kenya">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 days">
<meta name="author" content="RORO INNOVATIONS">
