{% extends "core/layout.html" %}

{% load staticfiles %}

{% block content %}
    <div class="card mt-5 mb-5">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-body text-left">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h5 class="text-center">Enter a username to identify yourself as a winner tomorrow</h5>
                            <hr>
                                <form role="form" action="#" method="POST" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" name="username" id="username" required>
                                    </div>

                            <hr>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Done!
                                            <i class="fas ml-1"></i>
                                        </button>
                                    </div>
                                </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}